

ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding :0px 30px 0px 30px;
    margin: 0;
    
}
.header{
    background-color:#E4F8CE ;
    padding: 6px;
}
body, h2, p{
    margin: 0;
    padding: 0;
    
}
.head2{
    display: flex;
    justify-content: space-between;
    padding: 0px 100px 0px 100px;
    background-color:#EFF9DE ;
}
.textHead{
   display: flex;
    align-items: center;
    text-align: center;
}
.head3{
    background-color: #E4F8CE;
    padding:18px;
}
nav{
    background-color:#008CB6;
    color :white;
    padding : 0px 30px 0px 30px;
}
.list{
    padding : 10px;
}
select{
    width : 63px;
    color: white;
    background-color: #008CB6;
    border : none;
    line-height :1;
}